# deps
node_modules/

# next.js build
.next/
out/
.vercel/

# env & local config
.env
.env.*
!.env.example

# prisma sqlite
prisma/*.db
prisma/*.db-journal

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# misc
.DS_Store
Thumbs.db
